In [1]:

def perfect_sq(n,total,i=1):
    '''
    '''
    if(i<n):
        if(n%i==0):
            total=total+i   
        return perfect_sq(n,total,i+1)
    if(total==n):
        return True
    else:
        return False

In [32]:
perfect_sq(6,0,i=1)

True

In [35]:
def gcd(a,b): 
    if a == 0: 
        return b 
    return gcd(b % a, a) 
  
# Function to return LCM of two numbers 
def lcm(a,b): 
    return (a*b) / gcd(a,b)

In [36]:
lcm(15,20)

60.0

In [48]:
def inverted_tri(nrows):
    '''
    '''
    nspaces=0
    nstars=(2*nrows)-1
    for i in range(1,nrows+1):
        print('' * nspaces + '*' * nstars)
        nstars-=2
        nspaces+=1

In [49]:
inverted_tri(5)

*********

*******

*****

***

*

In [79]:
def p1(nrows):
    '''
    '''
    nspace=0
    for i in range(1,nrows+1):
        for j in range(1,i+1):
            print(j," " *2 ,end="")
        print("\r")

In [80]:
p1(5)

1
1   2
1   2   3
1   2   3   4
1   2   3   4   5

In [34]:
def p2(nrows):
    '''
    '''

    for i in range(1,nrows+1):
        for j in range(1,nrows-i+1):
            print("",end=" ")
        
        for j in range(i,0,-1):
            print(j,end="")
             
        
        for j in range(2,i+1):
            print(j,end="")
           
        print()

In [35]:
p2(5)

    1
   212
  32123
 4321234
543212345

In [42]:
def p3(nrows):
    '''
    '''

    for i in range(1,nrows+1):
        for j in range((nrows-i)+1,0,-1):
            print(j," "*2 ,end=" ")
        
        
        print()

In [43]:
p3(5)

5    4    3    2    1
4    3    2    1
3    2    1
2    1
1

In [48]:
def p4(nrows):
    '''
    '''

    for i in range(1,nrows+1):
        for j in range(1,i+1):
            print(i," "*2 ,end=" ")
        
        
        print()

In [49]:
p4(5)

1
2    2
3    3    3
4    4    4    4
5    5    5    5    5

In [74]:
def p5(nrows):
    '''
    '''

    for i in range(1,nrows+1):
        for j in range(1,(i-1)+1):
            print(end=" ")
        for j in range(i,nrows+1):
            print(j,end="")
        print()

In [75]:
p5(5)

12345
 2345
  345
   45
    5

In [102]:
def p6(nrows):
    '''
    '''

    for row in range(1,nrows+1):
        for col in range(1,nrows+1):
            if(row==1 or row==nrows or col==1 or col==nrows):
                print("*",end="")
            else:
                print(end=" ")
        print()

In [103]:
p6(5)

*****
*   *
*   *
*   *
*****

In [104]:
p6(4)

****
*  *
*  *
****

In [109]:
def p7(nrows):
    '''
    '''

    for row in range(1,nrows+1):
        for col in range(1,nrows+1):
            
                print("*"," "*2,end="")
            
        print()

In [110]:
p7(5)

*   *   *   *   *
*   *   *   *   *
*   *   *   *   *
*   *   *   *   *
*   *   *   *   *

In [138]:
def p8(nrows):
    '''
    '''
    for i in range(1,nrows+1):
        for j in range(1, nrows-i+1):
            print(end=" ")
        for j in range(i,0,-1):
            print("*",end="")
        for j in range(2,i+1):
            print("*",end="")
        print()

In [139]:
p8(5)

    *
   ***
  *****
 *******
*********

In [240]:
def p9(nrows):
    '''
    '''

    for row in range(1,nrows+1):
        for col in range(1,nrows+4):
            if(row==1):
                print("*",end="")
            elif(row-col==0 and row>1):
                print("*",end=" ")
            elif(row+col==8 and row>1):
                print("*",end="")
            else:
                print(end=" ")
            
        print()

In [241]:
p9(4)

*******
 *    *
  *  *
   *

In [233]:
def pm(nrows):
    '''
    '''

    for i in range(1,nrows+1):
        for j in range(1,(i-1)+1):
            print(end=" ")
        for j in range(i,nrows+1):
            print("$",end="")
        print()

In [197]:
pm(6)

$$$$$$
 $$$$$
  $$$$
   $$$
    $$
     $

In [203]:
def pn(nrows):
    '''
    '''

    for i in range(1,nrows+1):
        for j in range(1,nrows-i+1):
            print(end=" ")
        for j in range(nrows-i+1,nrows+1):
            print("#",end="")
        print()

In [204]:
pn(5)

    #
   ##
  ###
 ####
#####

In [218]:
def pk(nrows):
    '''
    '''

    for row in range(1,nrows+1):
        for col in range(1,nrows+1):
            if(col+row==5 or col-row==3 or row-col==3 or row+col==11):
                print("*",end="")
            else:
                print(end=" ")
        print()

In [222]:
pk(7)

   *
  * *
 *   *
*     *
 *   *
  * *
   *

In [ ]:
def a7(x):
    '''
    '''
    epsilon=0.00001
    mulby=-x**2
    term=1
    total=1
    nextint=2
    while abs(term) > epsilon:
        div=nextint*nextint
        term=term+mulby/div
        total+=term
        nextint+=2
    return total

In [ ]:
a7(4)

In [18]:
def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] 

def palindrome(str):
    '''
    '''
    if(str==reverse(str)):
        return True
    else:
        return False

In [22]:
palindrome("boba")

False

In [33]:
def sum_digit(digit,sum=0):
    '''
    '''
    
    if(digit>0):
        rem=digit%10
        newd=digit//10
        sum=sum+rem
        return sum_digit(newd,sum)
    return sum

In [35]:
sum_digit(4321)

10

In [53]:

def armstrong(digit,new,sum=0):
    '''
    '''
    if(digit>0):
        rem=(digit%10)**3
        newd=digit//10
        sum=sum+rem
        return armstrong(newd,new,sum)
    
    if(new==sum):
        return True
    else:
        return False

In [54]:
armstrong(370,370,sum=0)

True

In [55]:
armstrong(32,370,sum=0)

False

In [68]:
def gcd(a,b):
    '''
    '''
    if(a==0):
        return b
    g=gcd(b%a,a)
    if(g==1):
        return True
    return False

In [72]:
gcd(2,4)

False

In [9]:
def Sqrt(x) : 
  
   
    if (x == 0 or x == 1) : 
        return x 
   
    start = 1
    end = x    
    while (start <= end) : 
        mid = (start + end) / 2
          
       
        if (mid== x) : 
            return mid 
              
        
        if (mid  < x) : 
            start = mid + 1
            ans = mid 
              
        else : 
              
            
            end = mid-1
              
    return ans

In [10]:
Sqrt(2)

1.5

In [12]:
def mul(a,b,sum=0):
    '''
    '''
    if(b>0):
        sum=sum+a
        b=b-1
        return mul(a,b,sum)
    return sum
mul(7,5)

35

In [15]:
num=72958476
a,b=0,0
while(num>0):
    digit=num%10
    if(digit % 2!=0):
        a+=digit
    else:
        b+=digit
    num /=10
print(a,b)

47.33333333296433 6

In [1]:
def main():
    n = 5
    total = 1+(n-1)*2
    i = 0
    while i < total:
        print("*",end=" ")
        i += 1
    print()
    for i in range(1,n-1):
        print("  "*i,end='')
        print("*",end='')
        print("  "*(total-(2*(i+1))),end='')
        print(" *")
    i = 0
    while i < (total-1)/2:
        print("  ",end='')
        i += 1
    if n is not 1:
        print("*")
    

if __name__=="__main__":
    main()

* * * * * * * * *
  *           *
    *       *
      *   *
        *

In [2]:
def main():
    n = 4
    total = 1+(n-1)*2
    i = 0
    while i < total:
        print("* ",end="")
        i += 1
    print()
    for i in range(1,n-1):
        print("  "*i,end='')
        print("* "*(total-(2*i)))
    i = 0
    while i < (total-1)/2:
        print("  ",end='')
        i += 1
    if n is not 1:
        print("*")
    

if __name__=="__main__":
    main()

* * * * * * *
  * * * * *
    * * *
      *

In [7]:
def pyramid(rows):
    for i  in range(rows):
        print(" "*(rows-i-1)+"*"*(2*i+1))
    for j in range(rows-1,0,-1):
        print(" "*(rows-j)+"*"*(2*j-1))

rows = int(input("Enter number of rows : ").strip())
pyramid(rows)

Enter number of rows : 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [9]:
def p(rows):
    for j in range(rows-1,0,-1):
        print(" "*(rows-j)+"*"*(2*j-1))
p(5)

 *******
  *****
   ***
    *

In [1]:
def printPattern(n) : 
    k = 0; 
  
    # Print upper triangle 
    for i in range(1,n+1) : 
  
        # Print spaces 
        for j in range(1,n-i+1) : 
            print(" ",end="") 
              
        # Print # 
        while (k != (2 * i - 1)) : 
            if (k == 0 or k == 2 * i - 2) : 
                print("#",end="") 
            else : 
                print(" ",end="") 
            k = k + 1
              
        k = 0
  
        # move to next row 
        print(""), 
      
    n = n - 1
  
    # Print lower triangle 
    for i in range (n,0,-1) : 
        # Print spaces 
        for j in range(0,n-i+1) : 
            print(" ",end="") 
              
        # Print # 
        k = 0
        while (k != (2 * i - 1)) : 
            if (k == 0 or k == 2 * i - 2) : 
                print("#",end="") 
            else : 
                print(" ",end="") 
            k = k + 1
          
        print(""),

    #
   # #
  #   #
 #     #
#       #
 #     #
  #   #
   # #
    #

In [3]:
def printPattern(n) : 
      
    for i in range(1,n+1) : 
          
        # Print spaces 
        for j in range(1,i) : 
            print (" ",end="") 
              
        # Print hollow inverted pyramid 
        for j in range(1,(n * 2 - (2 * i - 1))  
                                       +1) : 
            if (i == 1 or j == 1 or 
               j == (n * 2 - (2 * i - 1))) : 
                print ("#", end="")  
            else : 
                print(" ", end="")  
                  
        # next line 
        print (""), 
  
# Driver code 
n = 6
printPattern(n)

###########
 #       #
  #     #
   #   #
    # #
     #